
#kb-container{
	width:52%;
	float:left;
	overflow:auto;
	list-style:none;
	margin:0;
	padding:0;
	height:640px;
	border:1px solid #BBB;
}
#blog-tab,#notes-tab div[id*='commentsList'] {
	height:70%;
	width: 100%;

	overflow: auto;
}
#blog-tab div[id*='commentsList'] ul ,#notes-tab div[id*='commentsList'] ul{
	padding:0px;
	margin-right:20px;
}
#blog-tab div[id*='commentsList'] ul li,#notes-tab div[id*='commentsList'] ul li{
	list-style:none;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:dotted #BBB;
	min-height:30px;
}
#blog-tab div[id*='commentsList'] ul li div.comment-header,#notes-tab div[id*='commentsList'] ul li div.comment-header{
	font-weight:bold;
	color:orange;
	float:left;
	padding-right:10px;
}
#blog-tab div[id*='commentsList'] ul li div.comment,#notes-tab div[id*='commentsList'] ul li d.comment{

	color:black;
	padding-left:10px;
}
.addComments{
	background-color:#EEEEFF;
    position: absolute; 
    height:17%;
    left: 0; 
    width: 100%; 
    bottom: 0;
}
.addComments textarea{
	width: 500px;
	height:100px;
	margin:2px;
	float: left;
}
.addComments input[type="button"]{
	margin-right: 5px;
	float: right;
}
#kb-container-helper
{
	border:1px solid #BBB;
	float:right;
	width: 47%; 
	-moz-box-sizing:border-box;
	calor:#292929;
	list-style:none;
	margin:0;
	padding:0;
	height:640px;	
	font-family:Arial,FreeSans,Helvetica,sans-serif;
	font-size:13px;
}
#kb-container #kb-tiles{
	list-style: none;
	margin: 0;
	padding-left:5px;
	margin:0;
}

#kb-container #kb-tiles .kb-tile{
	display: none;
	width: 95%;
	min-height:60px;
	margin: 10px 0 0 10px;
	cursor:pointer;
	padding-right: 10px;
	border: 1px solid #DDD;
	border-radius: 3px;
	background-color: #F7F7F7;
	z-index:1;
}
#kb-container #kb-tiles .kb-tile.selected{
	background-color: #D9E7F3;
}
#kb-container #kb-tiles .kb-tile:hover{
	background-color: #EEEEFF;
}
#kb-container #kb-tiles .kb-tile ul{
	list-style: square;
}
#kb-container #kb-tiles .kb-tile ul li{
	margin-bottom:5px;
}

#kb-container #kb-tiles .kb-tile ul li a:hover {
	background-color: #eeeeee;    

}
#kb-container #kb-tiles .kb-tile ul li.selected{
 	background-color: #E6EFC2;
}
#kb-container #kb-tiles .kb-tile ul li div{
	margin-bottom:5px;
}
#kb-container #kb-tiles .kb-tile ul li div.selected{
 	background-color: #E6EFC2;
}
.deleteIcon{
	width:15px;
	height:15px;
	float:right;
	cursot:hand;
}
.deleteIcon:hover{
	width:20px;
	height:20px;
}
.scroll-pane,
.scroll-pane-arrows
{
	width: 100%;
	height: 200px;
	overflow: auto;
}

