.treeNodeDiv{
	margin-left:15px;
	padding-bottom:10px;
	padding-top:10px;
	border-left:5px solid #CCCCCC;
	display:block;
	clear:both;
	background-color:#EEEEEE;
}
.treeNodeDiv #technologyForm{
		border-left:5px DOTTED GREEN;
		padding-bottom:8px;
}
.treeNodeDiv #answerChoiceForm{
		border-left:5px DOTTED blue;
		padding-bottom:8px;
}
#existingTech,#existingQuest{
	width:400px;
}
.treeNodeDiv a{
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;	
}
.treeNodeDiv textarea,.treeNodeDiv input{
	display:block;
	float:left;
}